[user]
	name = Jorge Galat
	email = jrgglt@gmail.com
	signingkey = 3EFFFA4F225D1D39
[core]
	editor = nvim
	excludesfile = /home/jgalat/.gitignore_global
[push]
	default = simple
	autoSetupRemote = true
[commit]
	gpgsign = true
[pull]
	rebase = false
[submodule]
	recurse = true
