[user]
	name = Jorge Galat
	email = jrgglt@gmail.com
	signingkey = D506F3909D4C4EDCF0738ED8CC754A50798CD8C5
[core]
	editor = nvim
	excludesfile = /home/jgalat/.gitignore_global
[push]
	default = simple
	autoSetupRemote = true
[commit]
	gpgsign = true
[pull]
	rebase = false
[submodule]
	recurse = true
